export PORT=3900
export SUPABASE_ANON_PUBLIC="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJodmpicXl1Y2FxYW9xdmdzd2txIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDgwMDEzMDksImV4cCI6MTk2MzU3NzMwOX0.1cpWSgqESVk9picSH_Ve0WRGNxtBW_J7rWF1P-OH5EU"
export SUPABASE_URL="https://rhvjbqyucaqaoqvgswkq.supabase.co"